# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Yarn
.yarn/*
!.yarn/plugins
!.yarn/versions
.pnp.*

# Package files
*.tgz

# Dependency directory
node_modules

# NPM files
package-lock.json

# API keys and secrets
.env

# Build output
dist
tsconfig.tsbuildinfo

# Coverage reports
coverage

# Generated schemas
schema.gql
spec.json
